<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Чат</title>
  <link rel="stylesheet" href="../../styles/styles.pcss">
</head>

<body>
  <section class="add-and-delete-user-panel">
    <div class="add-and-delete-user-panel__add-user-container">
      <img src="../../asserts/addUserbutton.png" alt="user photo">
      <span>Добавить пользователя</span>

    </div>
    <div class="add-and-delete-user-panel__delete-user-container">
      <img src="../../asserts/addUserbutton.png" alt="user photo" class="delete-icon">
      <span>Удалить пользователя</span>
    </div>
  </section>
</body>

</html>