<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Чат</title>
  <link rel="stylesheet" href="../../styles/styles.pcss">
</head>

<body>
  <main class="container profile">
    {{> sideButton }}
    <img src="../../asserts/ProfileImg.png" alt="Default profile photo" class="image" />
    <section class="profile__inputs-container">
      <label for="password" class="profile__label">Старый пароль </label>
      <input type="password" name="password" class="profile__input" required />

      <label for="password" class="profile__label">Новый пароль </label>
      <input type="password" name="password" class="profile__input" required />

      <label for="password" class="profile__label">Повторите новый пароль </label>
      <input type="password" name="password" class="profile__input" required />
    </section>
    {{> button text='Сохранить' }}
  </main>
</body>

</html>