<section class="add-and-delete-user-panel">
  <form id="addDeleteUserForm" class="add-and-delete-user-form">
    <input type="text" name="UserName" class="add-and-delete-user-form-input">
    <label for="UserName" class="sidebar-user-chat__chat-text-preview ">Введите логин юзера</label>
    <div class="add-and-delete-user-panel__add-user-container">
      {{{image}}}
      <span>Добавить пользователя</span>
    </div>
    <div class="add-and-delete-user-panel__delete-user-container">
      {{{image2}}}
      <span>Удалить пользователя</span>
    </div>
  </form>
</section>