  <section class="add-and-delete-user-panel">
    <div class="add-and-delete-user-panel__add-user-container">
      <img src="../../assets/addUserbutton.png" alt="user photo">
      <span>Добавить пользователя</span>

    </div>
    <div class="add-and-delete-user-panel__delete-user-container">
      <img src="../../assets/addUserbutton.png" alt="user photo" class="delete-icon">
      <span>Удалить пользователя</span>
    </div>
  </section>