  <section class="add-and-delete-user-panel">
    <div class="add-and-delete-user-panel__add-user-container">
      {{{image}}}
      <span>Добавить пользователя</span>

    </div>
    <div class="add-and-delete-user-panel__delete-user-container">
      {{{image2}}}
      <span>Удалить пользователя</span>
    </div>
  </section>