.btn {
  background: #3369F3;
  border-radius: 0.8rem;
  border: #3369F3;
  width: 28.0rem;
  height: 3.7rem;
  @mixin text var(--btn-text-color), 1.3rem, 1.3rem;
  margin-top: 6.0rem;
}

.btn:hover {
    cursor: pointer;
}

.side-btn {
  position: absolute;
  width: 64px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #FBFBFB;
  border: none;
  border-right: 0.1rem solid #EAEAEA;

    img {
      transform: rotate(180deg);
    }
}

.side-btn:hover {
  cursor: pointer;
}