<section class="chat-panel">
  <div class="chat-panel__header">
    <img src="../../asserts/usersImg.png" alt="user photo" class="chat-panel__user-photo">
    <h5 class="chat-panel__chat-name">Название чата</h5>
    <img src="../../asserts/dotsButton.png" alt="dots menu" class="chat-panel__dots-menu">
  </div>
  <div class="chat-panel__messages">
    <h5 class="chat-panel__time">11:48</h5>
    <div class="chat-panel_messages-container">
      Здесь будут сообщения
    </div>
  </div>
  <div class="chat-panel__send-container">
    <img src="../../asserts/clipButton.png" alt="clip button" class="chat-panel__clip-button">
    <input type="text" placeholder="Сообщение" class="chat-panel__input" name="message">
    <img src="../../asserts/arrowButton.png" alt="arrow button" class="chat-panel__arrow-button">
  </div>
</section>