      <form class="form">
        <h5 class="form__header">{{formHeaderText}}</h5>
        {{#if auth}}
        {{> inputsToLoginForm }}
        {{else}}
        {{> inputsToRegistrationForm }}
        {{/if}}
         {{> button text=btnText }}
        <a class="form__link" href={{btnHref}}>{{linkText}}</a>
      </form>