<section class="form__inputs-container">
    <label for="login" class="label">Логин </label>
    <input type="text" name="login" class="input" required />

    <label for="password" class="label">Пароль </label>
    <input type="password" name="password" class="input" required />
</section>
