<section class="profile__inputs-container">
    <label for="email" class="profile__label">Почта</label>
    <input type="email" name="email" class="input" value="ya@yandex.ru"/>
    
    <label for="login" class="profile__label">Логин </label>
    <input type="text" name="login" class="input" />
    <hr>

    <label for="name" class="label">Имя </label>
    <input type="text" name="name" class="input" />

    <label for="last-name" class="label">Фамилия </label>
    <input type="text" name="last-name" class="input" />

    <label for="nickname" class="label">Имя в чате </label>
    <input type="text" name="nickname" class="input" />

    <label for="phone" class="label">Телефон </label>
    <input type="phone" name="phone" class="input" />
</section>
