<section class="chat__sidebar">
  {{{addChat}}}
  <a class="chat__link" href="/">Профиль &gt;</a>
  <form class="search__form">
    <input type="text" placeholder="Поиск" class="search__input">
  </form>
  {{{chatSidebar}}}
  {{{chatModal}}}
</section>
